// color variables
$black :#050505;
$dark-gray-1:#1F1F1F;
$dark-gray-2:#2D2D2D;
$dark-gray-3:#3A3A3A;
$medium-gray:#757575;
$light-gray-1:#E9E9E9;
$light-gray-2:#F4F4F4;
$white:#FFFFFF;
$purple-shade:#A445ED;
$bright-red:#FF5252;
// font variables
$inter-font: 'Inter',
sans-serif;
$lora-font: 'Lora',
serif;
$incosolata-font: 'Inconsolata',
monospace;
// font size variables
$heading-l-font-size: 64px;
$heading-m-font-size: 24px;
$heading-s-font-size:20px;
$body-m-font-size: 18px;
$body-s-font-size: 14px;
// line height variables
$heading-l-line-height: 29px;
$heading-m-line-height: 24px;
$heading-s-line-height: 24px;
$body-m-line-height: 24px;
$body-s-line-height:17px;